/* General Styling */
body {
  margin: 0;
  background-color: #eee9e9;
  font-family: Arial, sans-serif;
}

/* Header Styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  background-color: #eee9e9;
  padding: 0 4vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Logo Section */
.logo-section {
  display: flex;
  align-items: center;
  width: 15%;
  height: 75%;
  border-radius: 20px;
  background-color: #fff;
  gap: 0.5rem; 
}

.logo {
  font-size: 16px;
  margin-right: 0.5rem;
  display: flex; /* Make sure it's flexible */
  align-items: center; /* Center logo vertically */
  justify-content: center; /* Center logo horizontally if needed */
  font-size: 2rem; /* Adjust the logo size */
  line-height: 1; 
}

.site-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  line-height: 1;
}

/* Navbar */
.navbar {
  width: 50%;
  background-color: #fff;
  border-radius: 20px;
  height: 75%;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.headerLogo{
  width: 45px;
  height: 45px;
  height: auto;
  transition: transform 0.5s ease;
}

.navbar ul li {
  font-size: 12px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.navbar ul li a .icon {
  margin-right: 0.5rem;
}

/* Action Section */
.action-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  gap: 1rem;
  background-color: #fff;
  border-radius: 20px;
  height: 75%;
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.2rem 0.5rem;
  background-color: #fff;
  height: 75%;
  background-color: #eee9e9;
  justify-content: space-around;
  font-size: 12px;
}

.search-bar input {
  border: none;
  outline: none;
  margin-left: 0.2rem;
  font-size: 12px;
  background-color: #fff;
  height: 80%;
  width: 20vw;
  flex: auto;
}

/* Icons */
.icon {
  font-size: 1rem;
  cursor: pointer;
}

.notification-icon {
  position: relative;
}

/* Profile Dropdown */
.profile-dropdown {
  position: relative;
}

.profile-dropdown .dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: none;
}

.profile-dropdown:hover .dropdown {
  display: block;
}

.profile-dropdown .dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-dropdown .dropdown ul li {
  padding: 0.5rem 1rem;
}

.profile-dropdown .dropdown ul li a {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
}

.profile-dropdown .dropdown ul li:hover {
  background-color: #f7f7f2;
}
